{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar') }}
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="#">
                    Mes tâches
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Date de fin</th>
                        <th>Statut</th>
                        <th width="240px">Action</th>
                    </tr>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.state }}</td>
                            <td>{{ task.dateEnd ? task.dateEnd|date('Y-m-d') : '' }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}