{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('navbar') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('navbar') }}
{% endblock %}

{% block body %}
    <nav>
        <img class="header-logo" src="{{ asset('build/img/logo.png') }}" alt="logo">
        <div class="header-actions">
            <a style="text-decoration: none" href="{{ path('add') }}">
                <h4 class="header-subtitle">
                    Ajouter une tâche
                </h4>
            </a>

            {% if app.user %}
                <a style="text-decoration: none" href="{{ path('login') }}">
                    <h4 class="header-subtitle">
                        Se connecter
                    </h4>
                </a>
            {% else %}
                <a style="text-decoration: none" href="{{ path('login') }}">
                    <h4 class="header-subtitle">
                        Se déconnecter
                    </h4>
                </a>
            {% endif %}

        </div>
    </nav>
{% endblock %}
